body {
  background-color: rgb(196, 196, 196);
  margin: 0;
  font-family: arial;
  min-height: 900px;
  min-width: 1400px;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  background: linear-gradient(#383838, #383838, #383838, #383838, #464646, #616161);
  height: 80px;
  width: auto;
}

.image {
  width: 140px;
  height: 55px;
  position: absolute;
  top: 12px;
  left: 20px;
  object-fit: cover;
  transition: transform .3s, opacity .1s;
}

.image:hover {
  transform: scale (1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

.image:active {
  opacity: 0.8;
}

.menu-knappar {
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.menu-knapp {
  background-color: rgb(180, 180, 180);
  margin-left: 50px;
  margin-right: 60px;
  padding: 8px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 2px;
  cursor: pointer;
  transition: transform .3s, opacity .1s;
}

.menu-knapp:hover {
  transform: scale (1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.menu-knapp:active {
  opacity: 0.7;
}

.nuvarande-menu-knapp {
  background-color: rgb(255, 255, 255);
  margin-left: 50px;
  margin-right: 60px;
  padding: 8px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 2px;
  cursor: pointer;
  transition: transform .3s, opacity .1s;
}

.nuvarande-menu-knapp:hover {
  transform: scale (1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.nuvarande-menu-knapp:active {
  opacity: 0.7;
}