.front-page {
  display: flex;
}

.me {
  transition: transform .2s;
}

.me:hover {
  transform: scale (1.02);
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
}

.contacts {
  margin-top: 40px;
}

.contact,
.contact-gmail {
  background-color: #b9b9b9;
  padding: 15px;
  border-style: solid;
  border-radius: 6px;
  cursor: pointer;
  transition: transform .3s, opacity .1s;
  width: 150%;
  margin: 20px;
}

.contact:hover,
.contact-gmail:hover {
  transform: scale (1.02);
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
}

.contact-gmail:active {
  opacity: 0.7;
}